<div class="container">

<%= link_to "Create new Post", new_post_path, class:"d-flex justify-content-center" %>
<ul>
  <% @posts.each do |post| %>
    <li class="d-flex justify-content-center"  style="">
    <div class="card my-3" id="post_<%= post.id%>" style="width: 500px">
  
    <div class="card-body">
     
     <div class="d-flex align-items-center">
     <% if post.user.avatar.attached? %>
     <div style= "width: 40px; height: 40px; margin-right:10px">
    
    <%= image_tag post.user.avatar, style:"height:100%; width:100%; object-fit:cover", class:"rounded-circle" %>
    
    </div>
     <% else %>
       <div style= "width: 40px; height: 40px; margin-right:10px">
        <%= image_tag "/images/user.png", style:"height:100%; width:100%; object-fit:cover", class:"rounded-circle" %>
        </div>
            <% end %>
    <div class="card-title fw-bold">
    <%= post.user.username  %>
    </div>
    <% if post.user_id == current_user.id%>

<i class="fa-solid fa-pen-to-square ms-auto edit-button-class" id="edit-post_<%= post.id%>" data-post-id="<%= post.id%>"></i>
      <%= link_to post, data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  },  class:"ms-auto" do %>
                  <i class="fa-solid fa-trash"></i>
                  <%end  %>
    <% end %>
    </div>
    <div class="card-text">
    <%= post.body  %>
    </div>
    </div>
    <% if post.image.attached? %>
    <%= image_tag post.image, style:"height:100%; width:100%; object-fit:cover", class:"card-img-top" %>
    <% end %>
    <div class="d-flex justify-content-around">
      <%= link_to post_likes_path(post), data: { "turbo-method": :post } do%>
      <i class="fa-solid fa-thumbs-up"></i>
      <%end%>
      <% current_user_like = post.likes.find_by_user_id(current_user.id) %>
      <% if current_user_like.present? %>
        <%= link_to post_like_path(post, current_user_like), data: { "turbo-method": :delete } do%>
          <i class="fa-solid fa-thumbs-up" style="color:black "></i>
        <% end %>
      <% end %>
     <i class="fa-regular fa-comment" ></i>
     </div>
     <%= render "comment/show", post:post %>
     <%= render "comment/comment", post:post %>
    </div>
   
    </li>
    <li class="post-edit-class" id="edit_id_<%= post.id%>" style="display:none">
     <%= render  "edit"  , post: post %>
    </li>
  <% end %>
</ul>
<div class="d-flex justify-content-center">
<%= paginate @posts%>
</div>
</div>